#UsersTable{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 100px;
    border:0;
    padding: 0;
    border-collapse: collapse;
}

.TableHeader{
    background-color: #FF7A25;
    padding: 10px;
    margin:0 ;
    border: 0;
    font: 20px "Trebuchet MS";
    color: #202020;
    border-top: #303030 2px solid;
}

th {
    text-align: left;
}

td{
    text-align: left;
    padding: 10px;
    font: 16px "Trebuchet MS";
    font-weight: bolder;
    color: #fff;
    background-color: #303030;
}

button{
    border: 0;
    border-radius: 0;
    outline: 0;
    transition-duration: 300ms;
    padding: 14px;
    background-color: #303030;
}
button:hover{
    background-color: #FF7A25;
}

button:focus{
    background-color: #FF7A25;
}

#RegisterRedirectDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
}

.RegisterRedirectBtt{
    width: 200px;
    border:none;
    margin-top: 20px;
    border-radius: 0px;
    font-family: Oxygen, sans-serif;
    font-size: 19px;
    color: #EDEDED;
    background-color: #181818;
    padding: 10px;
    outline: none;
    transition-duration: 300ms;
    border-top: #181818 2px solid;
}

.RegisterRedirectBtt:hover{
    border-top: #FF6600 2px solid;
    background-color: #303030;
}

.RegisterRedirectBtt:focus{
    border-top: #FF6600 2px solid;
    background-color: #303030;
}